/*Text Style*/
@font-face {
    font-family: PokeSolid;
    font-style: normal;
    font-weight: normal;
    src: url(../Font/PokeSolid.ttf);
}
@font-face{
    font-family: PokeHollow;
    font-style: normal;
    font-weight: normal;
    src: url(../Font/PokeHollow.ttf);
}
@font-face {
    font-family: PText;
    font-style: normal;
    font-weight: normal;
    src: url(../Font/PText.ttf)
}
/*Termina Text Style*/

/*Background*/
.BackG1{
    position: absolute;
    left: 0px;
    top: 100px;
}
.BackG2{
    position: absolute;
    left: 0px;
    top: 100px;
}
.BackG3{
    position: absolute;
    left: 720px;
    top: 100px;
}
.BackG4{
    position: absolute;
    left: 720px;
    top: 100px;
}
.Pokeball{
    position: absolute;
    z-index: 3;
    top: 190px;
    left: 90px;
}
/*TerminaBackground*/

/*Text Style*/
.Title{
    position: absolute;
    top: -30px;
    left: 600px;
    font-family: PokeSolid;
    font-size: 50px;
    color: #ffcb05;
}
.Title2{
    position: absolute;
    top: -30px;
    left: 600px;
    font-family: PokeHollow;
    font-size: 50px;
    font-weight: bold;
    color: #2a75bb;
}
/*Termina Text Style*/

/*Search*/
.PokeName{
    font-family: PText;
    width: 200px;
    height: 40px;
    font-size: 30px;
}
.IngresePoke{
    position: absolute;
    top: 190px;
    left: 950px;
    z-index: 3;
}
.Search{
    position: absolute;
    top: 190px;
    left: 1150px;
}
.Searching{
    font-family: PText;
    font-size: 20px;
    width: 90px;
    height: 46px;
}
.Buscar{
    top: 220px;
    left: 300px;
    font-family: PText;
}

/*Termina Search*/
.NumPoke{
    position: absolute;
    font-family: PText;
    top: 16vh;
    left: 50vh;
}

.pokeType1{
    position: absolute;
    font-family: PText;
    top: 23vh;
    left: 58vh;
}

.pokeAltu{
    position: absolute;
    font-family: PText;
    top: 39vh;
    left: 55vh;
}

.pokePeso{
    position: absolute;
    font-family: PText;
    top: 44vh;
    left: 55vh;
}

.pokeHability{
    position: absolute;
    font-family: PText;
    top: 32vh;
    left: 100vh;
    width: 600px;
}

.pokeMovimientos{
    position: absolute;
    font-family: PText;
    font-size: 27px;
    top: 40vh;
    left: 100vh;
    height: 250px;
    width: 600px;
    background-color: transparent;
    border: 0;
}

.pokeHealt{
    position: absolute;
    font-family: PText;
    top: 58vh;
    left: 15vh;
    color: white;
}

.pokeAtack{
    position: absolute;
    font-family: PText;
    top: 63vh;
    left: 15vh;
    color: white;
}

.pokeDef{
    position: absolute;
    font-family: PText;
    top: 68vh;
    left: 15vh;
    color: white;
}

.pokeSatk{
    position: absolute;
    font-family: PText;
    top: 58vh;
    left: 43vh;
    color: white;
}

.pokeSdef{
    position: absolute;
    font-family: PText;
    top: 63vh;
    left: 43vh;
    color: white;
}

.pokeSpeed{
    position: absolute;
    font-family: PText;
    top: 68vh;
    left: 43vh;
    color: white;
}

.pokeBack{
    position: absolute;
    top: 32vh;
    left: 37vh;

}

.pokeNN{
    position: absolute;
    font-family: PText;
    font-size: 37px;
    top: 14vh;
    left: 65vh;
}